<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Sherpa_Header</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  </head>
  <body>
    <header>
    </header>

  <ul class="nav">
      {# Create new buttons here #}
      <div class="nav_list">
        <li class="nav"><a href="/sherpa"><img src="https://i.imgur.com/O4j8s2P.png" style="width:86px;height:86px;"/></a></li>
        <li class="nav"><input type="text" name="search" class="search" placeholder="Search..."></li>
        <li class="nav" style="float:right"><a class="active" href="/sherpa/login">Login</a></li>
        <li class="nav" style="float:right"><a class="active" href="/sherpa/add">Sign Up</a></li>
        <li class="nav" style="float:right"><a class="active" href="/sherpa/add">Add Location</a></li>
        <li class="nav" style="float:right"><a class="active" href="/sherpa/location_list">Locations List</a></li>
      </div>
  </ul>

  <br>
  <br>
